nav{
  display: flex; justify-content: space-between;
  color: orange;
  padding: 20px;
  list-style: inherit;
    color: #FF5733;
}
.dropdown {
  display: inline-block;
  color: white
}
div.headerr {
  font-size: 30px
}
.navbaroptions {
color: orange
inline-block;
font-weight: bolder;
font-family: sans-serif;
padding: 20px;
direction: inherit;
font-family: sans-serif;
  color: #FF5733;
}
.navbaroptions a {
  color: #FF5733;

}
.navbaroptions a: hover{
color: #A90C0C;
}
li{font-style: normal;
font-weight: bolder;
font-style: normal;
font-family: sans-serif;
width: inherit;
height: auto;
color: #FF5733
}
.left {
  margin-left: 50px;
  margin-top: 100px;
  display: block;
  width: 55%;
  padding: 20px;
  float: left;

}
.right {
  margin-right:50px;
  display: inline-block;
  padding: 20px;
  width: 44%;
  float: right; font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-weight: bolder;
  color:	#FFFFFF;

}
a:hover {
  color: rgb(128,0,0);
  background-color: transparent;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px;
}

}
.details{
  display:inline-block;

}
.cool-background{
  display: inline-block;
  background: rgb(255,0,138);
background: linear-gradient(90deg, rgba(255,0,138,1) 0%, rgba(255,0,0,1) 100%);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
.cool-background button{
  font-size: 18px;

}
}
.shoe1 {
  display: inline-block;
  padding: 20px;
  width: 50%;
  float: left;
}

.threeimage{
  display: inline-block;
  width: 30%;
  border: 0px;
}
.shoepricing{
  display: inline-block;
  width: 30%;
  border:0px;
}
.shoepricing{
  display: flex;
  justify-content:;

}
.cool-background {
display: inline-block;

}
}
.navbaroptions a {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}



ul.option2 a {
  display: inline-block;
  color: rgba(242	162	159)	;
}
ul.option2 a:hover{
  color: rgb(128,0,0);

}
h2.rec {
font-weight: lighter;
  background: rgb(255,0,138);
background: linear-gradient(90deg, rgba(255,0,138,0.19791666666666663) 0%, rgba(255,0,0,0.18110994397759106) 100%);
margin-bottom: 0px;
}
* {
  font-family: 'roboto', sans-serif;
}
a:activehover {
  color: rgb(128,0,0) ;
}


ul.detlinks a {
  color: #FF5733;
  display: inline-block;
  padding: 5px;
  margin-left: 0px;
  text-decoration: none;
  border-bottom: 2px;
  border-spacing: 1px;
  border-color: rgba(241 152 150);


}
ul.detlinks{
  border-bottom: 1px solid;
  border-color: rgba(241 152 150);
  border-spacing: 5px;
  margin-left: 90px;
  margin-right: 90px;
}
ul.detlinks a:hover {
  color: rgb(128,0,0);

}
div.shoetext {
  display: block;
  margin-left: 75px;
}
ul.navbaroptions a {
  margin-right: 10px;
  font-weight: normal;
}
ul.option2 a {
  margin-right: 10px;
  font-weight: normal;
}
.lorempara {
  border-top: 1px dashed;
  border-color: rgb(128,0,0)
}
div.right a{
  margin-bottom: 10px;
  border-bottom: 1px dashed;
  border-color: rgb(128,0,0)
}
@@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

 {

}
